textarea {
    min-height: 400px;
}
.mail{
    border: 1px solid black; 
    padding-left:10px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color:black;
    cursor: pointer;
}
a:hover{
 text-decoration: none;
}
.people {
    margin-right: 20px;
}
.time {
    margin-left: auto;
    color: rgb(128, 128, 128);
}
#reply-btn{
    margin-right: 20px;
}
#archive-btn{
   margin:20px;
}